.App {
  text-align: center;
  background-color: rgb(65, 48, 87,0.7);
}
html{
  background-color: rgb(255, 255, 255);
}
.App button{
  margin: 5px;
  width: 20%;
}
.update label{
  font-size: 32px;
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right:2% ;
}
.item{
  display: flex;
  flex-direction: row;
  
 
}
.row{
  display: flex;
}
.items{
  text-align: center;
  height: 38px;
  width: 38%;
  margin-left: 1%;
  background-color: rgb(179, 156, 201);
  margin-top: 2px;
 
}
.row button{
  width: 20%;
 
}

.title{
  display: flex;
  text-align: center;
}
.title h1{
  width: 40%;
  text-align: center;
}
